@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
	margin: 0em;
	padding: 0em;
	font-family: 'IBM Plex Sans', sans-serif;
	justify-items: center !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    /* text-align: center; */
}

#header-item{
	margin: 0.5em 0em auto 0em;
	padding: 0em;
    width: 50%;
}

#header-item h5{
    margin: auto 0em auto 0em;
    font-weight: bold;
	width: 100%;
	color: #092C4C;
}

#header-item a{
	text-decoration: none;
	color: #092C4C;
}

#header-item hr{
    margin: 0em;
   padding: 0em;
}

hr.style-six {
    border: 20px;
    height: 2px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#body{
	padding: 0.5em;
	text-align: center;
}

#body .card-body{
	padding: 0.8em;
}

#body .card{
	margin: 0.3em;
}

#footer{
	padding: 0.5em;
	align-items: center;
	margin: 0.1em;
	padding: 0.1em;
	/* min-width: 90vh;
	min-height: 90vh; */
}

p{
	color: #092C4C;
	font-size: .8rem;
}

/*Account Page */

 .card {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-body{
	
}

.card-body a{
	text-decoration: none;
	color: #092C4C;
}

#body-item .card-body .card-title{
	margin: 0.3em;
}

.btn-primary{
	background-color: #092C4C;
	border: none;
	font-weight: 500;
	min-width: 0.85em;
}

/* Payment Page */
#add_card {
	color: #092C4C;
}

/* Rewards Page */
#reward_rules {
	color: #092C4C !important;
}

#reward_rules a{
	color: #092C4C !important;
}

/* Reward Rules and instructions Page */
#reward_inst{
	justify-content: left !important;
	text-align: left !important;
}

#reward_inst .col{
	text-decoration: none !important;
	justify-items: start !important;
	justify-content: start !important;
	text-align: left !important;
}

#reward_inst ul li{
	justify-content: start !important;
	text-align: left !important;
}

#reward_inst_footer{
	justify-items: right !important;
}