html {
    height: 100%;
  }
  
  .containerr{
	width: 100%;
	display: flex;
	overflow-x: auto;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20px;
}
  
  .leaderr_item{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    height:40px;
    width: 50px;  
}
  .headerr_section {
      /*position: fixed;*/
      display: flex;
      justify-content: center;
      align-content: center;
      height: 70px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      overflow-x: auto;
      flex: 1;
  }
  .headerr_item h1{
    display: flex;
    flex-grow: 50;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-align: left;
  }
  
  .headerr_item{
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
      flex-grow: 50;
      min-width: 20px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 16px;
      color: rgba(5, 2, 65, 0.858);
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
  
  }
  
  .headerr_item img{
      display: flex;
      margin-top: 10px;
      margin-left: 20px;
      height:50px;
      width: 50px;
  }
  

  .page__name{
      margin-right:200px
  }
  
  .back__icon{
      display: flex;
      margin-top:8px;
  }
  
  .search_sort_section{
      position: relative;
      align-content: center;
      /*width: 100%;*/
      height: 42px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      /*background-color: #F0F0F0;*/
      display: flex;
      overflow-x: auto;
  }
  
  
  .search_sort_item{
      display: flex;
      /*position: fixed;*/
      align-items: center;
      justify-content: center;
      align-content: center;
      min-width: 20px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 16px;
      color: black;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
      white-space: nowrap;
      margin-left: 2px;
      margin-right: 2px;
  }

 .vidz{
    transform: rotate(90deg);
  }
  div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:10%;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  #QR{
    display: flex;
    position: relative;
    width: 40px !important;
    height: 30px !important;
    transition: width 0.4s ease-in-out;
    white-space: nowrap;
    padding-left: 65px !important; 
    min-height: 20px !important;

  }
  #searchItem{
      display: flex;
      position: relative;
      /*background-image:url('E:\search.png');*/
      background-size: 25px;
      background-position: right;
      background-repeat: no-repeat;
      width: 260px !important;
      height: 30px !important;
        box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 12px;
      padding-left: 8px;
      transition: width 0.4s ease-in-out;
      white-space: nowrap;
      border-color: #092C4C;
      padding-left: 20px !important; 
      min-height: 20px !important;
  
  
  }
  
  
  .ui-input-has-clear {
      padding-right: 0em !important;
  }
  
  .sort, .filter{
      display: flex;
      position: fixed;
      position: relative;
      color: black;
      padding-right: 3px;
  
  }
  
  .vl {
      display: flex;
      position: relative;
       border-left: 1px solid black;
       height: 23px;
       right: 0;
  }
  
  
  /* On screens that are 414 - 1023 or less, set the background color to blue */
  @media screen and (min-width: 414px) {
       #searchItem{
          width: 750px !important;
          
      }
      .search_sort_section {
          height: 32px;
      }
   
  }
  
  /* On screens that are 1024px or more */
  @media screen and (max-width: 1023px) {
      #searchItem{
          width: 270px !important;	
      }
      .search_sort_section {
          height: 42px;
      }
  
  }

  a{
    text-decoration: none;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(43, 44, 50, 0.762);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
      
