#HomePage .itemList, .favourite_itemList, .offer_list{
	display: flex;
    display: inline-block !important;
    flex-direction: row  !important;
    -webkit-flex-direction:row !important;
    margin-top: 10px;
    min-width: 100px;
    font-family: 'IBM Plex Sans' ;
    transition: width 4s ease-in-out;
    padding-bottom: 80px;
	
	}


#HomePage .items{
	display: flex;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
	margin: 5px;
	border-radius: 8px;
	transition: width 4s ease-in-out;
	padding: 4px;
	width: 380px;
	}


#HomePage .itemImage{
 	padding-right:10px;
 	display: flex;
    transition: width 1s ease-in-out;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
	}


  #HomePage ul{
  list-style-type: none;
   padding-left: 0pt;
	}

  #HomePage a{
	text-decoration: none;
	color: black;
	}

  #HomePage p{
	line-height: 18px;
	}

  #HomePage .rating{
	color: orange;
	}

	#HomePage .favorite_False{
		color: grey !important;
	}

	#HomePage .favorite_True{
		color: red !important;
	}

  #HomePage .items{
  	color: black;
	   flex: 0 0 60%;
	   text-decoration: none;
	}

  #HomePage .itemImage{
 	height: 160px;
 	width: 160px;
 	}


   #HomePage body, html {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #HomePage .containerd {
    width: 90%;
    height: 100%;
  }
  
  #HomePage h1{
 font-family: 'IBM Plex Sans';
 font-size: larger;
 font-weight: bolder;
 background-color: #FFFFFF;
 border-style: none;

}

#HomePage .toppane {
    width: 100%;
    left:0.25em;
    left:20px;
    position:relative;
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 2em;
  }

  #HomePage .midpane{
    width: 100%;
    left:20px;
    height: 270px;
    position: relative;
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 2em;

  }

  #HomePage .midpane a{
    display: inline-block;
    width:120% !important;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .responsive {
    width: 400px !important;
    height: 200px !important;
    justify-content: center !important;
  }

  #HomePage .bottompane {
    width: 100%;
    left:20px;
    height: 270px;
    background-color: #ffffff;
    border-collapse: collapse;
    position: relative;

}


  /* On screens that are 414 - 1023 or less, set the background color to blue */
  @media screen and (min-width: 412px) {
    #HomePage  #searchItem{
       width: 750px !important;
       
   }
   #HomePage .search_sort_section {
       height: 32px;
       width:100%;
       justify-content: center;
   }

}

/* On screens that are 1024px or more */
@media screen and (max-width: 1023px) {
  #HomePage #searchItem{
       width: 270px !important;	
   }
   #HomePage .search_sort_section {
       height: 42px;
       width:100%;
   }

}

.containerr{
width: 100%;
display: flex;
overflow-x: auto;
justify-content: center;
justify-content: space-between;
margin-left: 20px;
}

#HomePage .leaderr_item{
  display: flex;
  margin-right: 1.5em !important;
  margin-top: 20px;
  margin-left: 40px;
  height:40px;
  width: 50px;  
}

#HomePage .headerr_section {
    /*position: fixed;*/
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

#HomePage .headerr_item h1{
  flex-grow: 50;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#HomePage #HomePage .headerr_item{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    flex-grow: 50;
    min-width: 20px;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 16px;
    color: rgba(5, 2, 65, 0.858);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

#HomePage .headerr_item img{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    height:50px;
    width: 50px;
}


#HomePage .page__name{
    margin-right:200px
}

#HomePage .back__icon{
    display: flex;
    margin-top:8px;
}

#HomePage .search_sort_section{
    position: relative;
    align-content: center;
    /*width: 100%;*/
    height: 42px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    /*background-color: #F0F0F0;*/
    display: flex;
    overflow-x: auto;
}


#HomePage .search_sort_item{
    display: flex;
    /*position: fixed;*/
    align-items: center;
    justify-content: center;
    align-content: center;
    min-width: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    white-space: nowrap;
    margin-left: 2px;
    margin-right: 2px;
}

#HomePage div.scrollmenu img{
  border-radius: 5% !important;
  width:30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#HomePage div.scrollmenu {
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
}

#HomePage div.scrollmenu a {
  display: inline-block;
  width:40%;
  color: white;
  text-align: center;
  text-decoration: none;
}

#HomePage #QR{
  display: flex;
  position: relative;
  width:35px;
  height:40px;
  transition: width 0.4s ease-in-out;
  white-space: nowrap;

}
#HomePage #searchItem{
    display: flex;
    position: relative;
    /*background-image:url('E:\search.png');*/
    background-size: 25px;
    background-position: right;
    background-repeat: no-repeat;
    width: 260px !important;
    height: 30px !important;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding-left: 8px;
    transition: width 0.4s ease-in-out;
    white-space: nowrap;
    border-color: #092C4C;
    padding-left: 20px !important; 
    min-height: 20px !important;
}



















.container{
	width: 90%;
	display: flex;
	overflow-x: auto;
	justify-content: center;
/*	font-weight: normal !important;
	color: red !important;s*/

}


.favouritePage__buttons{
	display: flex;
	display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}


.itemList{
	display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column ;
    margin-top: 10px;
    min-width: 100px;
    font-family: 'IBM Plex Sans';
    transition: width 4s ease-in-out;
    padding-bottom: 80px;

}


.items{
	display: flex;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
	margin: 5px;
	border-radius: 8px;
	transition: width 4s ease-in-out;
	padding: 2px;
	width: 390px;
}



 .itemImage{
 	 padding-right:10px;
 	 display: flex;
    transition: width 1s ease-in-out;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
 }
 
 
p{
	line-height: 18px;
}

ul {
  list-style-type: none;
   padding-left: 0pt;
}

a{
	text-decoration: none;
	color: black;
}

.btn{
	background-color: transparent;
}

.container{
	width: 100%;
	display: flex;
	overflow-x: auto;
	justify-content: center;

  }


/* On screens that are 414 - 1023 or less, set the background color to blue */
@media screen and (min-width: 412px) {
  .favourite__itemList {
  	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	}

  .items{
  	color: black;
	   flex: 0 0 60%;
	   text-decoration: none;
	}

	#favourites_Page  .favorite{
	 padding-left: 96px
	}
	
	#email_btn{
		background-color: #F2994A;
		color: white !important;
		font-family: sans-serif;
	}
	

}

