@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
	margin: 0em;
	padding: 0em;
	font-family: 'IBM Plex Sans', sans-serif;
	justify-items: center !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    text-align: center;
}

#header-item{
	margin: 0.5em 0em auto 0em;
	padding: 0em;
    width: 50%;
}

#header-item p{
    margin: auto 0em auto 0em;
    font-weight: bold;
    width: 100%;
}

#header-item hr{
    margin: 0em;
   padding: 0em;
}

hr.style-six {
    border: 20px;
    height: 2px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#body{
	padding: 0.5em;
}

#body .card-body{
	padding: 0.8em;
}

#body .card{
	margin: 0.3em;
}

#footer{
	padding: 0.5em;
	align-items: center;
	margin: 0.1em;
	padding: 0.1em;
	/* min-width: 90vh;
	min-height: 90vh; */
}

p{
	color: #092C4C;
	font-size: .8rem;
}

/*Account Page */

 .card {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#body-item .card-body .card-title{
	margin: 0.3em;
}

/* Location Page */

#location-page{
	margin: 0.3em;
	padding: 0em;
	height: 100%;
}

#body div{
	margin: 0.25em;
	padding: 0.25em;
	height: 92vh;
}

#mapouter{
	position:relative;
	text-align:center;
	height:100%;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
}

#gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:100%;
	width:100%;
	text-align: center;
}