@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'IBM Plex Sans', sans-serif;
}

#start_page{
    margin: 0em;
    padding: 0em;
}

#start-tab {
    margin: 1.5em;
    padding: 2em;
    width: 50%;
    min-width: 90%;
    min-height: 90%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
}

#header{
    margin: 0em;
}

#footer{
    justify-content: right !important;
    align-items: center !important;
}


#body {
    margin: 1em;
    padding: 1em;
}

/*Global font attributes*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {	
	color: #FFFFFF !important;
	font-weight: normal !important;
    font-family: sans-serif !important;
    border-style: none;
}

/*Global background color*/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background-color: white !important;
    border-style: none;
}


.midpane{
    width: 90%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    left:20px;
    right:10px;
    height: 770px;
    position: relative;
    background-color: #FFFFFF;
    border-collapse: collapse;
  }
  

body{
	margin: 0 0 80px 0;
}

.navigation{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
	display: flex;
	overflow-x: auto;
}


  /* On screens that are 414 - 1023 or less, set the background color to blue */
  @media screen and (min-width: 414px) {
    #searchItem{
       width: 750px !important; 
   }
   .search_sort_section {
       height: 32px;
   }

}

/* On screens that are 1024px or more */
@media screen and (max-width: 1023px) {
   #searchItem{
       width: 270px !important;	
   }
   .search_sort_section {
       height: 42px;
   }

}

h2{
    text-align: center;
}
